# Use the nix context if installed
if command -v nix-shell &> /dev/null ; then
    use flake
fi

# Source the poetry env to enable import resolution in vim and vscode
env_file=$(cd backend && poetry env list --full-path | cut -d " " -f 1)
source $env_file/bin/activate
