.DS_Store
.env
.env.test
output

# Python
__pycache__
*.pyc
*.received.*

# IDE
.idea
.vscode
.testmondata
app/.eslintcache
e2e/.eslintcache
node_modules

# Direnv
.direnv
.envrc

# Node
/app/src/lib/graphql/_gen/
