.DS_Store
.env
.env.test
output

# Python
__pycache__
*.pyc

# Elm
*/**/elm-stuff
/app/elm/CdbGQL/

# IDE
.idea
.vscode
.testmondata
app/.eslintcache
e2e/.eslintcache
node_modules

# Direnv
.direnv

# Node
/app/src/lib/graphql/_gen/
