.DS_Store
.env
.env.test
output

# Python
__pycache__
*.pyc
*.received.*
.testmondata*

# IDE
.idea
.vscode
app/.eslintcache
e2e/.eslintcache

# Direnv
.direnv
.envrc

# Node
/app/src/lib/graphql/_gen/
node_modules
