ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: (excalidraw|CdbGQL|schema\.graphql)
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: /__snapshots__/

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.257
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version=py310]

  - repo: local
    hooks:
      - id: no-commit-on-main-branch
        name: no direct commit on main branch
        language: system
        always_run: true
        entry: |
          ./scripts/no-commit-on-main-branch.sh

      - id: app-prettier
        name: run prettier (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        entry: |
          bash -c 'npm --prefix app run fix:prettier --write "${@#*/}"' --

      - id: app-check
        name: run svelte-check (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        pass_filenames: false
        entry: |
          bash -c 'npm --prefix app run check' --

      - id: app-eslint
        name: run eslint (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        exclude: /_gen/
        entry: |
          bash -c 'npm --prefix app run fix:eslint "${@#*/}"' --

      - id: app-elm-compile
        name: run elm make on all Main.elm
        language: system
        files: ^app/.*\.elm$
        pass_filenames: false
        entry: |
          ./scripts/all-elm-compiles.sh


      - id: app-elm-review
        name: run elm-review (app)
        language: system
        files: ^app/.*\.elm$
        pass_filenames: false
        entry: |
          bash -c 'yes Y | npm --prefix app run lint:elm-review -- --fix-all' --

      - id: e2e-prettier
        name: run prettier (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --prefix e2e  run fix:prettier "${@#*/}"' --

      - id: e2e-eslint
        name: run eslint (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --prefix e2e run fix:eslint "${@#*/}"' --

      - id: check-hasura-version
        name: ensure hasura version consistency
        language: system
        pass_filenames: false
        files: |
          (?x)^(
            docker-compose.yaml|
            docker-compose-test.yaml|
            hasura/.hasura_version|
          )
        entry: |
          ./scripts/check-hasura-version

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v8.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
