plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
      - type: feat
        release: minor
      - release: patch
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/changelog"
# bump frontend version (package.json)
  - - "@semantic-release/exec"
    - execCwd: "app"
      prepareCmd: |
        npm version ${nextRelease.version} --no-git-tag-version
# bump backend version (pyproject.toml)
  - - "@semantic-release/exec"
    - execCwd: "backend"
      prepareCmd: |
        sed -i.bak '1,/^version/s/^version.*$/version = "${nextRelease.version}"/' pyproject.toml
  - - "@semantic-release/git"
    - assets:
        - CHANGELOG.md
        - app/package.json
        - app/package-lock.json
        - backend/pyproject.toml
      message: "chore(release): ${nextRelease.version}"
  - "@semantic-release/github"
