@charset "UTF-8";
@import url('./tailwind.css');
@import url('./dsfr.css');
@import url('./dsfr-theme-tac.css');
@import url('../elm/UI/SearchSelect/style.css');

:root {
	--vert-cdb: rgba(0, 88, 93, 1);
	--vert-cdb-hover: rgba(0, 129, 138, 1);
	--vert-cdb-active: rgba(1, 125, 134, 1);
	--text-action-high-blue-france: var(--vert-cdb);
	--border-action-high-blue-france: var(--vert-cdb);
	--background-action-high-blue-france: var(--vert-cdb);
	--background-action-high-blue-france-hover: var(--vert-cdb-hover);
	--background-action-high-blue-france-active: var(--vert-cdb-active);
	--background-active-blue-france: var(--vert-cdb);
	--background-active-blue-france-hover: var(--vert-cdb-hover);
	--background-active-blue-france-active: var(--vert-cdb-active);
	--border-plain-blue-france: var(--vert-cdb);
}

/* Remove chrome clear icon */
input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

div.cgu {
	counter-reset: my-awesome-counter;
}
div.cgu ol {
	list-style: none;
	padding-left: 0px;
}
div.cgu ol li {
	counter-increment: my-awesome-counter;
	padding-bottom: 1rem;
}

div.cgu ol li::before {
	content: counter(my-awesome-counter) '. ';
	font-weight: bold;
	font-weight: 700;
}

div.cgu ol > li::marker {
	content: none;
	font-size: var(--xl-size);
}
