@import url('./tailwind.css');

@import url('remixicon/fonts/remixicon.css');

@import url('@gouvfr/dsfr/dist/dsfr/dsfr.min.css');

.custom-svelecte .inputBox {
	height: auto !important;
	--tw-ring-shadow: unset;
}

.custom-svelecte .sv-item-btn {
	box-shadow: unset;
}
